<%- include('../partials/adminHeader') %>

<%- include('../partials/adminNavbar') %>

<div class="d-flex">
    <%- include('../partials/adminSidebar') %>

    <main class="flex-grow-1 p-4">
        <h1>Admin Dashboard</h1>
        <p class="lead">Welcome, Admin!</p>
        <hr>
        </main>
</div>

<%- include('../partials/adminFooter') %>