<%- include('../partials/header') %>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Product Management</h1>
    <button class="btn btn-primary">Add New Product</button>
</div>


<%- include('../partials/footer') %>