<div class="d-flex flex-column flex-shrink-0 p-3 bg-light border-end" style="width: 280px; min-height: calc(100vh - 56px);">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/admin/dashboard" class="nav-link active" aria-current="page">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/admin/products" class="nav-link link-dark">
                Product Management
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark disabled">
                User Management
            </a>
        </li>
    </ul>
</div>